{% layout none %}

{% assign articles = content_listing | split: "<cxl>" %}

<div class="row">

	{% for article in articles %}

	<div class="col-sm-6">

		{{ article }}

	</div>

	{% endfor %}

</div>
