<div class="card">
  <div class="card-header">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#{{ item_handle }}" aria-expanded="false" aria-controls="collapseThree">
        {{ item_title }}
      </button>
    </h5>
  </div>
  <div id="{{ item_handle }}" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
    <div class="card-body">
      {{ item_text_answer }}
    </div>
  </div>
</div>
