{% assign custom_meta_title = app_meta_title %}
{% assign custom_meta_description = app_meta_description %}

<div class='container pt-3'>

	{{ app_content }}

	<div class="row pt-2">

		{% assign articles = content_listing | split: "<cxl>" %}

		{% for article in articles %}

			<div class="col-sm-4">

					{{ article }}

			</div>

		{% endfor %}

	</div>

</div>
