{% assign custom_meta_title = app_meta_title %}
{% assign custom_meta_description = app_meta_description %}

<div class='container pt-3'>

	{{ app_content }}

	{% assign filters = content_filters | split: "<cxl>" %}

	<ul class="nav nav-pills mb-4">

		<li class="nav-item"><span class="nav-link"><b>Filter</b></span></li>

		{% for filter in filters %}

			<li class="nav-item">{{ filter }}</li>

		{% endfor %}

	</ul>

	<div class="accordion" id="accordionExample">

		{% assign articles = content_listing | split: "<cxl>" %}

		{% for article in articles %}

			{{ article }}

		{% endfor %}

	</div>

</div>
