.content p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.image-example {
  width: 80%;
  margin-top: 20px;
}

.image-how-to {
  width: 70%;
}

.content {
  margin-top: 50px;
  margin-bottom: 50px;
}
